main #section_1 img{
    width: 100%;
    height: 600px;
}
main #section_2 {
    width: 100%;
    height: fit-content;
    margin-top: 75px;
}

main #section_2 h1{
    font-size: 50px;
    text-align: center;
    color: rgb(226, 36, 36);
}
main #section_2 p{
    margin-top: 25px;
    text-align: center;
    line-height: 30px;
}
main #section_3 {
    margin-top: 75px;
    width: 100%;
    height: fit-content;
}
.exp{
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 500;
    color: black;
  }
main #section_4 h1{
    font-size: 50px;
    text-align: center;
    color: rgb(226, 36, 36);
    padding: 30px;
}
main #section_4 {
    margin-top: 75px;
    width: 100%;
    height: fit-content;
}
main #section_4 img{
    width: 100%;
    height: 400px;
    opacity: 0.6;
}
main #section_5 {
    margin-top: 25px;
    width: 100%;
    height: fit-content;
}
main #section_5 p{
    font-style: italic;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
figure {
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}