/* event_css */
main{
    width: 100%;
    height: fit-content;
    margin-top: 75px;
}
#section_1{
    width: 100%;
    height: fit-content;
}
#section_1 img{
    width: 100%;
    height: 600px;
}
#section_2{
    padding-top: 50px;
    width: 100%;
    height: fit-content;
}
#section_2 img{
    width: 40%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
#section_2 h1{
    color:rgb(212,175,55);
    text-align: center;
}
#section_2 p{
    text-align: center;
    line-height: 28px;
}
#section_3 {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
}
#section_3 h1{
    color:rgb(212,175,55);
    text-align: center;
}
#section_3 img{
    width: 100%;
    height: 500px;
}
#section_3 h2{
    color:rgb(212,175,55);
    text-align: left;
}
#section_3 p{
    text-align: justify;
    line-height: 28px;
}
#section_3 figure {
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
#section_4 {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
}
#section_4 h1{
    color:rgb(212,175,55);
    text-align: center;
}
#section_4 img{
    width: 100%;
    height: 300px;
}
#section_4 h3{
    color:rgb(212,175,55);
}
#section_4 p {
    text-align: justify;
}
#section_4 figure {
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
#section_5 {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
}
#section_5 h1{
    color:rgb(212,175,55);
    text-align: center;
}
#section_5 img{
    width: 100%;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* home_css */
.home_section_3_img {
    width: 100%;
    height: 300px !important;
}
.home_section_3_figure {
	width: 100%;
	height: 300px !important;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.home_section_5_img{
    width: 100%;
    height: 100px !important;
}

/* gallery_css */
.h1_gallery{
    text-align: center;
    color:rgb(212,175,55);
    padding: 20px;
    font-size: 40px;
    font-weight: bolder;
}
#section_gallery_1 {
  width: 100%;
  height: fit-content;
}
#section_gallery_1 img{
    width: 100%;
    height: 350px;
  }
.a-css{
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}
.a-css:hover{
    background-color: rgb(185, 182, 182);
    color: white;
}
.span-css{
    text-decoration: none;
    color: white;
    background-color: rgb(185, 182, 182);
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}
.gallery {
    /* width: 100%; */
    height: 500px;
    height: max-content;
    float: left;
}
.script{
    background-color: rgb(226, 235, 243);
    width: 100%;
    height: 500px;
    border: 1px solid rgba(196, 196, 196, 0.986);
}
.desc{
    color: black;
    text-align: justify;
    padding: 10px;
}
.content{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    color:rgb(226, 36, 36);
    font-size: 18px;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.gallery_section_1_figure {
	width: 100%;
	height: 350px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* review-css */
#section_review_1{
    margin-top: 50px;
    padding-top: 50px;
    width: 100%;
    height: fit-content;
}
#section_review_2{
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 35px;
}
#section_review_2 p{
    text-align: justify;
}
#section_review_2 img{
    width: 100%;
}
#section_review_3 {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}
form{
    padding: 30px;
    width: 100%;
    height: fit-content;
}
textarea{
    width: 100%;
    height: 100px;
    display: block;
    padding: 10px;
    background-color: beige;
    overflow-y: auto;
}
input{
    text-align: right;
    padding: 10px;
    color: white;
    background-color: rgb(117, 117, 233);
    border: none;
}
input:hover[type='submit']{
    opacity: 0.8;
}
.comment{
    /* width: 100%;
    height: fit-content;
    /* display: block; */
    padding: 10px; 
    background-color: beige;
}
/* contact-css */
.form_contact{
    padding: 0px;
}
.cus_info{
    width: 95%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: justify;
    background-color: aliceblue;
    border: 1px solid rgb(158, 184, 207);
    color: black;
}
.cus_script{
    width: 95%;
    height: 100px;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    vertical-align: text-top;
    background-color: aliceblue;
    border: 1px solid rgb(158, 184, 207);
    color: black;
}
.submit_contact{
    width: 95%;
    height: fit-content;
    background-color: rgb(238, 69, 98);
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
}
.submit_contact:hover{
    opacity: 0.9;
}
input :hover[type="submit"] {
    background-color: black;
}
.suscess{
    width: 95%;
    height: fit-content;
    text-align: center;
    color: rgba(0, 0, 0, 0.692);
    background-color: rgb(88, 236, 88);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#section_contact_2{
    width: 100%;
    height: fit-content;
}
#section_contact_2 h1{
    padding-bottom: 30px;
    color:rgb(212,175,55);
    text-align: center;
}
#section_contact_2 iframe{
    width: 100%;
    height: 500px;
    text-align: center;
}
#section_contact_1{
    height: fit-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* about_us- css */
#section_about_3 img{
    margin-left: auto;
    margin-right: auto;
}
#section_about_3 h1{
    color:rgb(212,175,55);
    text-align: center;
}
#section_about_4 h1{
    color:rgb(212,175,55);
    text-align: center;
}
#section_about_4 img{
    width: 100%;
    height: 500px;
}








