footer{
    padding-top: 20px;
    top:100px;
    position: relative;
    width: 100%;
    height: fit-content;
    background-color:  #6c7a86 ;
}

footer ul li{
    list-style-type: none;
    padding: 10px;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
