#section_1 img{
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-sizing: border-box;
}
#section_2{
    top: 100px;
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 50px;
}
#section_2 img{
    width: 100%;
    height: 550px;
}
#section_2 p{
    text-align: justify;
    line-height: 28px;
}
#section_2 h1{
    color:rgb(226, 36, 36);
}
#section_2 figure {
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#section_3{
    top: 100px;
    width: 100%;
    height: fit-content;
    position: relative;
    background: #d2dce4;
    padding: 50px;
}
#section_3 h1{
    color:rgb(226, 36, 36);
}
#section_3 figure {
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#section_3 #section_3_1{
    top: 50px;
    position: relative;
    width: 100%;
    height: 350px;
}
#section_3 #section_3_1 p{
    text-align: justify;
    line-height: 30px;
}
#section_3 #section_3_1 a{
    text-decoration: none;
    color: black;
}
#section_3 #section_3_1 img{
    width: 100%;
    height: 300px;
}

#section_3 #section_3_2{
    top: 50px;
    position: relative;
    width: 100%;
    height: 350px;
}
#section_3 #section_3_2 p{
    text-align: justify;
    line-height: 30px;
}
#section_3 #section_3_2 a{
    text-decoration: none;
    color: black;
}


#section_3 #section_3_2 img{
    width: 100%;
    height: 300px;
}

#section_3 #section_3_3{
    top: 50px;
    position: relative;
    width: 100%;
    height: 350px;
}
#section_3 #section_3_3 p{
    text-align: justify;
    line-height: 30px;
}
#section_3 #section_3_3 a{
    text-decoration: none;
    color: black;
}

#section_3 #section_3_3 img{
    width: 100%;
    height: 300px;
}

#section_4{
    top: 200px;
    width: 100%;
    height: fit-content;
    position: relative;

}
#section_4 h1{
    color:rgb(226, 36, 36);
}
#section_4 #section_4_2 p{
    text-align: justify;
    line-height: 25px;
}
#section_4 #section_4_2 img{
    width: 100%;
    height: 400px;
}
#section_4 #section_4_2 a{
    text-decoration: none;
    color: black;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
#section_4 #section_4_2 figure {
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

#section_5{
    margin-top: 200px;
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 50px;
}
#section_5 h1{
    color:rgb(226, 36, 36);
}
#section_5 img{
    width: 70%;
    height: 100px;
}
