.image{
    background: url('../images/bglogin1.jpg');
    background-size: cover;
    background-position-y: -80px;
    font-size: 16px;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-login{
    max-width: 400px;
    background: rgba(0, 0, 0 , 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    border-radius: 20px;
    
}
.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-group i{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
}
.form-input::placeholder{
    color: #f5f5f5;
}
.form-group.form-group{
    color: #f5f5f5;
    
}
.row{
    border-color: black;
    color: #f5f5f5;
    padding-bottom: 5px;
    padding-left: 14px;
}
.fa-facebook{
    color: rgb(22, 43, 235);
    margin-left: 0.75cm;
    margin-bottom: 10px;
}
.fa-google{
    color: rgb(233, 12, 12);
    margin-left: 2.5cm;
    margin-bottom: 10px;
}
.fa-tiktok{
    color: rgb(12, 241, 241);
    margin-left: 2.5cm;
    margin-bottom: 10px;
}
.fa-facebook, .fa-google, .fa-tiktok{
    font-size: 30px;
    
}
.passwordError{
    color: red;
    background-color: aliceblue;
}


