body{
    font-size: 14px;
 }
 main{
    width: 100%;
    height: fit-content;
    margin-top: 75px;
 }
 #section_1 img{
    margin: auto;
    width: 100%;
    height: 600px;

}
#section_2 {
    width: 100%;
    height: fit-content;
}
#section_2 h1{
    font-size: 40px;
    color:rgb(226, 36, 36);
    text-align: center;
    padding-top: 75px;
}
#section_2 p{
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}
#section_2 img{
    width: 60%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#section_3 h1{
    color:rgb(226, 36, 36);
}
#section_3 h2{
    color:rgb(226, 36, 36);
}

#section_3{
    padding-top: 75px;
    position: relative;
    width: 100%;
    height: fit-content;
}
#section_3 p{
    text-align: justify;
    line-height: 30px;
}
#section_3 img{
    width: 100%;
    height: 300px;
}
#section_3 figure {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
#section_3 #section_3_1{
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}
#section_3 #section_3_2{
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}
#section_3 #section_3_3{
    width: 100%;
    height: fit-content;
}
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
